<h1>An Efficient Guide to Reaching Page 1 on Google</h1>


<h2>Why SEO Matters</h2>

Countless articles have been written regarding making it to page one on google, then making it up that page into the above the fold content, then finally making it to that revered number 1 spot.  I mean, the top one slot on google receives <a href=”http://searchenginewatch.com/sew/study/2276184/no-1-position-in-google-gets-33-of-search-traffic-study”> an insane 33%</a> of search traffic. That’s fine though,  that still leaves a hefty 67% of traffic to find your site. It’d better be on page one though, because <a href=”http://digitalsynopsis.com/tools/google-serp-design/”> page one on google enjoys 95% of search traffic.</a> Essentially, if you’re looking for organic search for most of your traffic, you need to be on page one to survive. Luckily, SEO is pretty easy, albeit kind of time consuming. 

<h2>The Efficient Way to Do SEO</h2>
In one month, I got my latest client, <a href=”http://www.zeebavans.com/”>ZeebaVans</a>from being unlisted on google, to being on page one for various keywords. I realized this is the fastest I’d gotten a site onto page one, so I must’ve done something right this time. 

There are a lot of ways to do SEO, and there’s a lot of information out there, but some of it will help way more than others. I’m not claiming this is the best way of doing SEO; however, I’ve found that these steps have allowed me to rank highly on google when I was hard pressed to find time for a complex SEO strategy. Even so, this guide follows white hat techniques, and doesn’t take any shortcuts that will lead to you being penalized by google. 

<h3> A Note on Link Building </h3>
If you’ve done some SEO research already, you’ll probably notice, that, in this guide, there’s not much talk about Link Building. That’s not to say Link Building isn’t important, (it is), but it’s time consuming and relatively unreliable. That is, With Google’s algorithm, buying spammy back links will definitely hurt your page rank. Unless you are already well connected in your market or want to develop these connections anyway, Link Building will not be the most efficient use of your time. If you want to learn how to improve SEO with Link Building though, and you eventually should, <a href=”http://www.quicksprout.com/the-advanced-guide-to-link-building/”>Quicksprout </a>has an amazing guide for that.

<h3>Step 1: Tell Google You Exist</h3>
Two of the basic building blocks for a solid SEO strategy are <a href=”https://www.google.com/webmasters/tools/”>Google Webmaster Tools</a>and <a href=”https://www.google.com/analytics/”>Google Analytics</a>.Register for both of these, it’s quick and painless. 

<h3>Step 2: Figure out what keyword phrases you want to target; start with more unique ones</h3>
Deciding which keywords to target for SEO is pretty huge, and can really make or break the success of a site in terms of its page rank. For example, if you run a cooking blog, don’t build your seo strategy around the phrase “cooking blog”. Google already knows what the popular cooking blogs are, and it’s not yours. You’re fighting an uphill battle against blogs with more traction that are bound to stay ahead of you. No matter what SEO techniques you do, you’re not going to rank page one on google within a month for a phrase that broad. Instead, opt for targeting a small, but more specified audience. For example, not nearly as many blogs out there will be targeting the phrase “Guide to cooking Meatloaf in 20 minutes” or “Healthy lunch recipes for under 5 dollars.” I really don’t know anything about cooking, but you get the idea. Once you rank well with those phrases for your specific articles, your traffic will increase, which will get google to pay attention you some more. 

<h3>Step 3: Give your pages unique, relevant urls, meta titles, and meta descriptions.</h3>
<p>Meta tags aren’t quite as effective as they used to be, since google phased meta keywords out of their algorithm a few years ago, but Meta Titles and Meta Descriptions are still incredibly useful and necessary. Meta Titles factor into google’s algorithm, while meta descriptions tell the user what your page is about, which will increase your relevant click rate. 

Having relevant urls is still one the easiest and most time efficient methods of increasing a page’s google ranking. For a developer, it’s not difficult to change a page’s url, and it’s another opportunity to place keywords into something that google cares about.</p>

<h3>Step 4: Make a lot of content, and interlink that content</h3>
You can’t get around making content. Any SEO strategy that says you can is wrong. Obviously, this is common sense for a blog, but any successful online business develops content, not in small part for SEO purposes. I’m sure there are people out there, but I don’t know of anyone who’s read an article put out by Spotify or Pandora. They’re shipping those out daily though, and it has a substantial effect on their high ranking placement in google. 

If your content is high enough quality and relatively unique, you don’t need an outrageous amount of pages. With <a href=”http://zeebavans.com”>ZeebaVans</a>, I produced about 100 pages of content, taking them from 20 to 120 pages.  This was enough to get to page 1. Quality over quantity. Of course, there’s nothing wrong with having thousands of pages on your site, as long as the content is unique and relevant to your market. 

I cannot emphasize this enough though; do not plagiarize or duplicate even your own content. If google detects this, and it will, your site will be penalized, and you will not be getting onto page one. If you’re concerned about duplicate content, use this tool: http://smallseotools.com/plagiarism-checker/. This may be overkill for a lot of sites, but if you have content that ranks below 90% in terms of uniqueness, there’s a strong change your content is duplicated, (or was duplicated by another site), and you’re getting penalized.

<h3>Step 5: Keep updating your site</h3>
The more google crawls your site, the better the chance your site has of creeping up the rankings. The more you update your site, the more google will crawl your site, since it wants to keep content up to date. However small the changes may be, try and update site content often so google doesn’t start to think your site’s outdated. 

<h3>Step 6: Get on Social Media</h3>
<p>This should almost always be part of an SEO marketer’s job. Sharing on social media is, in essence, the easiest form of backlinking, since you are essentially providing your own backlinks. On top of that, social media is a cost effective way of connecting with your consumers, and generating initial traffic to your site. 

Additionally, twitter is one of the easiest ways to connect with potential backlinking partners down the line.</p>


</h3>Step 7: Speed up your Site</h3>
<p>Some SEO strategists will refute the importance of page speed in google’s algorithm, saying it’s pretty insignificant. Although content is more important, and you should not sacrifice it for pagespeed, those people are still totally wrong.  Google wants their users to have an enjoyable experience using their platform, so they don’t want slow sites annoying their users. That means google will give much higher priority to above average speed sites, as opposed to slow sites. (You can check your site speed with the <a href=”https://developers.google.com/speed/pagespeed/insights/”>Google Page Speed Insights Tool</a> by the way. )

I would opt for score about 80 on all your pages, if plausible. Unless you have pages stuffed with images and scripts, this should be an achievable goal.

As a start, if you’re a developer or you at least have access to your site’s code, you can compress your images at <a href=”https://tinypng.com/”>Tinypng.com</a>.  You can minify your javascript <a href=”http://javascript-minifier.com/”>here</a> and your css <a href=”http://csscompressor.com/”>here.</a>


Following these steps, and only these steps won’t result it immediate, guaranteed traffic to your website. IT WILL, however, allow you to develop an initial SEO strategy. 


<h2>Top Resources for Monitoring SEO <h2>
  <h3>Must Haves</h3>
  Google Analytics
  Google Webmaster Tools
  <h3>Good to use</h3>
    Feed the Bot
    Serp
    Moz
    Small Seo Tools
  <h3>
There are a bunch out there, these are just the tools that I personally use.

If you have any questions or concerns, email me at nicholas.kebbas@yahoo.com or connect with me on twitter.
