<title>Royal 3D Carousel</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <!-- Import required js and css files-->
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/skin_modern_silver.css"/>
    <script type="text/javascript" src="assets/js/FWDRoyal3DCarousel.js"></script>
    
  </head>
<div id="top_heading" class="animated fadeInUp">
  <h1 class="ui header">High quality</h1>
</div>
<div id="second_heading" class="animated fadeInUp">
  <h1 class="ui header">Fully Customizable</h1>
</div>
<div id="third_heading" class="animated fadeInUp">
  <h1 class="ui header">Affordable</h1>
</div>