<title>Royal 3D Carousel</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <!-- Import required js and css files-->
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/skin_modern_silver.css"/>
    <script type="text/javascript" src="assets/js/FWDRoyal3DCarousel.js"></script>
    
    <style type="text/css">
      html, body{
        margin:0px; 
        padding:0px;
        width:1200;
      }
    </style>
  </head>

<body>
  <div class="ui blue menu">
  <a class="active item">
    <i class="home icon"></i> Home
  </a>
  <a class="item">
    <i class="mail icon"></i> Contact Me
  </a>
  <a class="item">
    <i class="user icon"></i> View my Work
  </a>
</div>

   