<title>Royal 3D Carousel</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <!-- Import required js and css files-->
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/skin_modern_silver.css"/>
    <script type="text/javascript" src="assets/js/FWDRoyal3DCarousel.js"></script>
    
    <style type="text/css">
      html, body{
        margin:0px; 
        padding:0px;
        width:1200;
      }
    </style>
  </head>

<body>
  <div class="ui fluid four item menu">
  <a class="active item">
    <i class="home icon"></i> Home
  </a>
  <a href="/contact/" class="item">
    <i class="mail icon"></i> Contact Me
  </a>
  <a href="/works/" class="item">
    <i class="user icon"></i> Websites
  </a>
  <a href="/animated/" class="item">
    <i class="user icon"></i> Other Work
  </a>
</div>
<br><br>

<div id="skrollr-body">
    <div id="top">
    </div>
  </div>

  <div id="bottom" data-500-end="opacity:0;" data-end="opacity:1;">
    <h1>Rotating gradients, motherfucker</h1>
    <p>Inspired by: <a href="http://gradientsmotherfucker.com/">http://gradientsmotherfucker.com/</a></p>
    <p>Created with: <a href="https://github.com/Prinzhorn/skrollr">skrollr</a></p>
  </div>

  <div data-0="transform:translate(0,0%);" data-100p="transform:translate(0,-100%);"></div>

  <div data-0="transform:translate(0,100%);" data-100p="transform:translate(0,0%)" data-_box-100p="" data-_box-200p="transform:translate(0,-100%)">
    <div class="box" data-100p="width:0%;" data-_box-100p="width:100%"></div>
  </div>

  <div data-_box-100p="transform:translate(0,100%);" data-_box-200p="transform:translate(0,0%);"></div>

</body>