
<nav class="ink-navigation xlarge-push-right large-push-right half-top-space">
                    <ul class="menu horizontal black" id="top-menu">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/works/">Works</a></li>
                        <li><a href="/qualifications/">Qualifications</a></li>
                        <li><a href="/contact/">Contact</a></li>
                    </ul>
                </nav>

            </header>
 <div class="ink-grid">

            <!--[if lte IE 9 ]>
            <div class="ink-alert basic" role="alert">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience.
                </p>
            </div>
            -->

            <!-- Add your site or application content here -->
                <section class="xlarge-30 large-30 medium-40 small-100 tiny-100">
                    <h2>Related</h2>
                    <ul class="unstyled">
                        <li class="column-group half-gutters">
                            <div class="all-40 small-50 tiny-50"><img src="holder.js/640x380/auto/ink" alt=""></div>
                            <div class="all-60 small-50 tiny-50"><p>"Where's them crabs, Hoo-Hoo?" Edwin demanded. "Granser's set upon  having a snack."</p></div>
                        </li>
                        <li class="column-group half-gutters">
                            <div class="all-40 small-50 tiny-50"><img src="holder.js/640x380/auto/ink" alt=""></div>
                            <div class="all-60 small-50 tiny-50"><p>"Where's them crabs, Hoo-Hoo?" Edwin demanded. "Granser's set upon  having a snack."</p></div>
                        </li>
                        <li class="column-group half-gutters">
                            <div class="all-40 small-50 tiny-50"><img src="holder.js/640x380/auto/ink" alt=""></div>
                            <div class="all-60 small-50 tiny-50"><p>"Where's them crabs, Hoo-Hoo?" Edwin demanded. "Granser's set upon  having a snack."</p></div>
                        </li>
                        <li class="column-group half-gutters">
                            <div class="all-40 small-50 tiny-50"><img src="holder.js/640x380/auto/ink" alt=""></div>
                            <div class="all-60 small-50 tiny-50"><p>"Where's them crabs, Hoo-Hoo?" Edwin demanded. "Granser's set upon  having a snack."</p></div>
                        </li>
                        <li class="column-group half-gutters">
                            <div class="all-40 small-50 tiny-50"><img src="holder.js/640x380/auto/ink" alt=""></div>
                            <div class="all-60 small-50 tiny-50"><p>"Where's them crabs, Hoo-Hoo?" Edwin demanded. "Granser's set upon  having a snack."</p></div>
                        </li>
                    </ul>
                </section>
            </section>
            <section class="column-group gutters">
        <footer class="clearfix">
            <div class="ink-grid">
                <ul class="unstyled inline half-vertical-space">
                    <li class="active"><a href="#">Nicholas Kebbas</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
                <p class="note">All rights reserved.</p>
            </div>
        </footer>
<script type="text/javascript">
          Modernizr.load({
            test: Modernizr.flexbox,
            nope : 'http://cdn.ink.sapo.pt/3.0.5/css/ink-legacy.min.css'
          });
</script>