#top_heading, #second_heading, #third_heading{
	text-align: center;
}

#top_heading{
	-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-webkit-animation-delay:1s;
}

#second_heading{
	-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-webkit-animation-delay: 2s;
}

#third_heading{
	-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-webkit-animation-delay: 3s;
}